Repository NVIDIA/ais-k8s: changes, and which GitLab CI jobs are due for each by the changed paths.
All: operator:minikube-long, operator:gcp, helm:gcp

Path conditions:
  operator:minikube-long: any of: operator/*
  operator:gcp: any of: operator/*, terraform/*
  helm:gcp: any of: terraform/*, helm/*

update operator modules
  operator/go.mod
  operator/go.sum
  operator/pkg/resources/cmn/config.go
  operator/pkg/resources/proxy/statefulset.go
  operator/tests/integration/ais_test.go
  operator/tests/integration/cluster_test.go
  operator/tests/tutils/ais_cluster.go
Due: operator:minikube-long, operator:gcp

ci: use github workflows to build docker image
  .github/workflows/docker.yml
  .gitlab-ci.yml
  operator/Dockerfile
Due: operator:minikube-long, operator:gcp

operator: release changes
  operator/Makefile
  operator/config/crd/bases/ais.nvidia.com_aistores.yaml
  operator/config/manager/kustomization.yaml
  operator/config/samples/ais_v1beta1_aistore.yaml
  operator/go.mod
  operator/go.sum
  operator/scripts/deploy.sh
  operator/tests/tutils/ais_cluster.go
Due: operator:minikube-long, operator:gcp

Operator deployment walkthrough and some ansible updates
  README.md
  docs/walkthrough.md
  docs/walkthrough/ais.yaml
  docs/walkthrough/ais_namespace.yaml
  docs/walkthrough/ais_podmonitors.yaml
  docs/walkthrough/aisnode_debug.yaml
  docs/walkthrough/aistore_dashboard.yaml
  docs/walkthrough/create_pvs.sh
  docs/walkthrough/img/aistore_grafana_dashboard.png
  docs/walkthrough/img/aistore_podmonitor_targets.png
  docs/walkthrough/kube_prometheus_stack_values.yaml
  operator/README.md
  playbooks/ais_datafs_mkfs.yml
  playbooks/roles/ais_datafs/tasks/main.yml
  playbooks/roles/ais_host_config_common/tasks/main.yml
  playbooks/roles/pcm/tasks/main.yaml
  playbooks/vars/host_config_packages.yml
Due: operator:minikube-long, operator:gcp

update modules
  operator/go.mod
  operator/go.sum
  operator/pkg/controllers/proxy_controller.go
  operator/pkg/controllers/target_controllers.go
  operator/pkg/resources/cmn/configmap.go
  operator/tests/integration/suite_test.go
Due: operator:minikube-long, operator:gcp

build: upgrade aistore and 'golang/x/net'
  operator/api/v1beta1/aisconfig.go
  operator/api/v1beta1/zz_generated.deepcopy.go
  operator/go.mod
  operator/go.sum
  operator/pkg/resources/cmn/config.go
Due: operator:minikube-long, operator:gcp

build: upgrade packages
  operator/go.mod
  operator/go.sum
Due: operator:minikube-long, operator:gcp

update to latest aistore
  operator/api/v1beta1/zz_generated.deepcopy.go
  operator/config/crd/bases/ais.nvidia.com_aistores.yaml
  operator/go.mod
  operator/go.sum
  operator/tests/tutils/ais_cluster.go
Due: operator:minikube-long, operator:gcp

docker (operator and CI): transition to aistorage registry
  .gitlab-ci.yml
Due: none

upgrade linter and aistore
  operator/Makefile
  operator/go.mod
  operator/go.sum
  operator/main.go
  operator/tests/integration/cluster_test.go
  operator/tests/integration/suite_test.go
Due: operator:minikube-long, operator:gcp

upgrade all packages; transition to Go 1.20
  operator/Dockerfile
  operator/go.mod
  operator/go.sum
Due: operator:minikube-long, operator:gcp

operator latest release
  operator/Makefile
  operator/config/crd/bases/ais.nvidia.com_aistores.yaml
  operator/config/samples/ais_v1beta1_aistore.yaml
  operator/tests/tutils/ais_cluster.go
Due: operator:minikube-long, operator:gcp

update local pv creation scripts
  playbooks/roles/ais_deploy_cluster/files/create-pvs.sh
  playbooks/roles/ais_deploy_cluster/files/pv.template.yaml
  playbooks/roles/ais_deploy_cluster/tasks/main.yml
Due: none

port range (typo)
  docs/walkthrough.md
Due: none

Modify the resource limit: memory limit from 30Mi to 100Mi
  operator/config/manager/manager.yaml
Due: none

fix: node image incompatible with GKE
  terraform/gcp/main.tf
Due: none

docs(operator): config backend provider
  operator/README.md
Due: operator:minikube-long, operator:gcp

ci: workflow set go version
  .github/workflows/docker.yml
Due: none

docs: add contributing.md
  CONTRIBUTING.md
Due: none

Update default images and stats exporting
  playbooks/docs/ais_cluster_management.md
  playbooks/roles/ais_deploy_cluster/defaults/main.yml
  playbooks/roles/ais_deploy_cluster/templates/ais.yaml.j2
  playbooks/roles/ais_deploy_operator/defaults/main.yml
  playbooks/roles/ais_undeploy_operator/files/undeploy-operator.sh
Due: none

Operator: Reduce default max-host-busy timeout
  operator/pkg/resources/cmn/config.go
Due: none

upgrade aistore to 3.18
  operator/Makefile
  operator/go.mod
  operator/go.sum
  operator/tests/integration/cluster_test.go
  operator/tests/tutils/ais_cluster.go
  operator/tests/tutils/api.go
Due: operator:minikube-long, operator:gcp

operator/tests: Use primary proxy when waiting for readiness
  operator/tests/tutils/api.go
Due: none

Update operator project config version
  operator/PROJECT
  operator/tests/integration/suite_test.go
Due: operator:minikube-long, operator:gcp

upgrade all minor versions; use aistore 3.19
  operator/api/v1beta1/aistore_webhook.go
  operator/go.mod
  operator/go.sum
  operator/tests/integration/ais_test.go
  operator/tests/tutils/ais_cluster.go
Due: operator:minikube-long, operator:gcp

operator to ref. aistore 3.19
  operator/go.mod
  operator/go.sum
Due: operator:minikube-long, operator:gcp

operator: 0.9.5 release changes
  operator/config/crd/bases/ais.nvidia.com_aistores.yaml
  operator/config/samples/ais_v1beta1_aistore.yaml
Due: none

docs: warn not to deploy using Helm
  README.md
  helm/README.md
Due: helm:gcp

upgrade all OSS packages (minor versions)
  operator/go.mod
  operator/go.sum
  operator/main.go
Due: operator:minikube-long, operator:gcp

build: transition to Go 1.21
  operator/Dockerfile
  operator/go.mod
  operator/go.sum
Due: operator:minikube-long, operator:gcp

compile operator with aistore v3.20
  operator/go.mod
  operator/go.sum
  operator/pkg/resources/cmn/config.go
Due: operator:minikube-long, operator:gcp

playbooks/cloud: Add playbook to update aws-creds k8s secret
  playbooks/README.md
  playbooks/cloud/README.md
  playbooks/cloud/ais_aws_config.yml
  playbooks/cloud/roles/aws_config/files/.gitignore
  playbooks/cloud/roles/aws_config/tasks/main.yml
  playbooks/cloud/vars/aws_config.yml
Due: none

enable tls in ais-operator Co-authored-by: Abhishek Gaikwad <gaikwadabhishek1997@gmail.com> Signed-off-by: Prashanth Dintyala <vdintyala@nvidia.com>
  operator/README.md
  operator/api/v1beta1/aistore_types.go
  operator/api/v1beta1/zz_generated.deepcopy.go
  operator/config/crd/bases/ais.nvidia.com_aistores.yaml
  operator/config/samples/ais_v1beta1_aistore_tls.yaml
  operator/pkg/controllers/cluster_controller.go
  operator/pkg/resources/cmn/config.go
  operator/pkg/resources/cmn/env.go
  operator/pkg/resources/cmn/res.go
  operator/pkg/resources/cmn/scripts.go
  operator/pkg/resources/proxy/statefulset.go
  operator/pkg/resources/target/statefulset.go
Due: operator:minikube-long, operator:gcp

playbooks: create https cert
  playbooks/README.md
  playbooks/ais_https_cert.yml
  playbooks/docs/ais_https_cert.md
  playbooks/roles/ais_https_cert/tasks/main.yml
  playbooks/roles/ais_https_cert/templates/ais.yaml.j2
Due: none

playbooks: https deploy operator changes
  playbooks/ais_deploy_operator.yml
  playbooks/roles/ais_deploy_cluster/defaults/main.yml
  playbooks/roles/ais_deploy_cluster/templates/ais.yaml.j2
  playbooks/roles/ais_deploy_operator/defaults/main.yml
Due: none

playbooks: switch between http <==> https
  playbooks/ais_switch_protocol.yml
  playbooks/docs/ais_https_cert.md
  playbooks/docs/ais_switch_protocol.md
  playbooks/roles/ais_switch_protocol/defaults/main.yml
  playbooks/roles/ais_switch_protocol/tasks/main.yml
  playbooks/roles/ais_switch_protocol/templates/ais.yaml.j2
Due: none

build: aistore 3.21
  operator/api/v1beta1/aisconfig.go
  operator/api/v1beta1/zz_generated.deepcopy.go
  operator/go.mod
  operator/go.sum
  operator/pkg/controllers/cluster_controller.go
  operator/pkg/resources/cmn/config.go
  operator/pkg/resources/cmn/configmap.go
  operator/tests/tutils/ais_cluster.go
Due: operator:minikube-long, operator:gcp

operator v0.9.6
  .gitlab-ci.yml
  operator/Makefile
  operator/config/samples/ais_v1beta1_aistore.yaml
  operator/config/samples/ais_v1beta1_aistore_tls.yaml
  playbooks/docs/ais_cluster_management.md
  playbooks/roles/ais_deploy_cluster/defaults/main.yml
  playbooks/roles/ais_switch_protocol/defaults/main.yml
Due: operator:minikube-long, operator:gcp
