Repository NVIDIA/ais-k8s: changes, and which GitLab CI jobs are due for each by the changed paths.
All: operator:minikube-long, operator:gcp, helm:gcp

operator:minikube-long:
  stage: test:long
  needs:
  - operator:minikube-short
  image: aistore/ci:1.15
  tags:
  - ais-k8s
  timeout: 30m
  script:
  - make -C operator test

operator:gcp:
  stage: test:long
  needs:
  - operator:minikube-short
  image: aistore/ci:1.15
  timeout: 60m
  variables:
    GOOGLE_APPLICATION_CREDENTIALS: /tmp/gcs.json
  before_script:
  - apt-get update -y && apt install -y build-essential
  - make -C terraform ci-prepare
  ...

helm:gcp:
  stage: test:long
  needs: []
  variables:
    GOOGLE_APPLICATION_CREDENTIALS: /tmp/gcs.json
  before_script:
  - apt-get update -y && apt install -y build-essential
  - make -C terraform ci-prepare
  - echo "${GOOGLE_APPLICATION_CREDENTIALS_JSON}" > "${GOOGLE_APPLICATION_CREDENTIALS}"
  script:
  ...

operator: wait for resources to be truly removed on scale-down/cleanup
  operator/pkg/client/api.go
  operator/pkg/controllers/cluster_controller.go
  operator/pkg/controllers/proxy_controller.go
  operator/pkg/controllers/target_controllers.go
  operator/pkg/resources/cmn/utils.go
  operator/tests/integration/cluster_test.go
  operator/tests/integration/suite_test.go
  operator/tests/tutils/api.go
Due: none

operator: remove orphaned clusters before running tests
  operator/pkg/client/api.go
  operator/tests/integration/cluster_test.go
  operator/tests/integration/suite_test.go
  operator/tests/tutils/api.go
Due: none

operator: retry Reconcile on CR versions conflict
  operator/pkg/controllers/cluster_controller.go
  operator/tests/integration/cluster_test.go
  operator/tests/integration/suite_test.go
Due: none

operator: update code to reflect new config and cmn package
  operator/go.mod
  operator/go.sum
  operator/pkg/controllers/cluster_controller.go
  operator/pkg/resources/cmn/config.go
  operator/tests/integration/ais_test.go
  operator/tests/integration/cluster_test.go
  operator/tests/integration/suite_test.go
Due: operator:minikube-long, operator:gcp

helm: fix log_dir config
  helm/ais/charts/templates/_ais_common.json
  helm/ais/charts/templates/_ais_local.json
  helm/ais/charts/values.yaml
Due: none

ci: show AIStore logs when running tests
  operator/tests/integration/cluster_test.go
  operator/tests/tutils/logs.go
  terraform/scripts/ci-test-run.sh
Due: none

operator: simplify proxy and target ready logic
  operator/pkg/controllers/cluster_controller.go
  operator/pkg/controllers/proxy_controller.go
  operator/pkg/controllers/target_controllers.go
Due: none

operator: don't update already correct state
  operator/api/v1alpha1/aistore_types.go
  operator/pkg/controllers/cluster_controller.go
Due: none

general: change fspath config representation
  helm/ais/charts/templates/_ais_local_fspaths.json
Due: none

operator: sync with latest AIS master
  operator/go.mod
  operator/go.sum
Due: operator:minikube-long, operator:gcp

operator: add metallb makefile step
  .gitlab-ci.yml
  operator/Makefile
  operator/config/metallb/configmap.template.yaml
Due: operator:minikube-long, operator:gcp

operator: cleanup PVCs when reclaim policy is Delete
  operator/api/v1alpha1/aistore_types.go
  operator/api/v1alpha1/zz_generated.deepcopy.go
  operator/config/crd/bases/ais.nvidia.com_aistores.yaml
  operator/pkg/client/api.go
  operator/pkg/controllers/cluster_controller.go
  operator/pkg/resources/target/services.go
  operator/pkg/resources/target/statefulset.go
  operator/tests/integration/cluster_test.go
  operator/tests/tutils/ais_cluster.go
Due: none

Playbooks: Add Ansible host and config examples
  .gitignore
  playbooks/README.md
  playbooks/ansible-example.cfg
  playbooks/example-commands/check-common-playbook.sh
  playbooks/example-commands/list-hosts.sh
  playbooks/example-commands/ping-hosts.sh
  playbooks/hosts-example.ini
Due: none

operator: tests ensuring data safety when cluster is delete
  operator/go.mod
  operator/go.sum
  operator/tests/integration/cluster_test.go
  operator/tests/tutils/ais_cluster.go
Due: operator:minikube-long, operator:gcp

operator: change default value of nodiskio to false
  operator/config/samples/ais_v1alpha1_aistore.yaml
Due: none

operator: configurable cluster DNS domain
  operator/api/v1alpha1/aistore_types.go
  operator/api/v1alpha1/zz_generated.deepcopy.go
  operator/config/certmanager/certificate.yaml
  operator/config/crd/bases/ais.nvidia.com_aistores.yaml
  operator/pkg/resources/cmn/env.go
  operator/pkg/resources/proxy/scripts.go
  operator/pkg/resources/proxy/statefulset.go
  operator/pkg/resources/target/scripts.go
  operator/pkg/resources/target/statefulset.go
Due: none

operator: include liveness script
  operator/pkg/resources/cmn/configmap.go
  operator/pkg/resources/cmn/env.go
  operator/pkg/resources/cmn/res.go
  operator/pkg/resources/cmn/scripts.go
  operator/pkg/resources/proxy/statefulset.go
  operator/pkg/resources/target/statefulset.go
Due: none

Playbooks: Minor fixes, updates, and security improvements
  playbooks/roles/ais_datafs/tasks/main.yml
  playbooks/roles/ais_host_config_common/tasks/main.yml
  playbooks/vars/ais_datafs.yml
  playbooks/vars/host_config.yml
  playbooks/vars/host_config_packages.yml
  playbooks/vars/host_config_sysctl.yml
Due: none

operator: include readiness script
  operator/pkg/resources/cmn/configmap.go
  operator/pkg/resources/cmn/res.go
  operator/pkg/resources/cmn/scripts.go
  operator/pkg/resources/proxy/statefulset.go
Due: none

operator: attempt graceful shutdown/decommission before cleaning up k8s resources
  operator/api/v1alpha1/aistore_types.go
  operator/api/v1alpha1/zz_generated.deepcopy.go
  operator/config/crd/bases/ais.nvidia.com_aistores.yaml
  operator/go.mod
  operator/go.sum
  operator/pkg/controllers/cluster_controller.go
  operator/pkg/controllers/target_controllers.go
  operator/tests/integration/cluster_test.go
  operator/tests/tutils/ais_cluster.go
Due: operator:minikube-long, operator:gcp

operator: decommission target before scale down
  .gitlab-ci.yml
  operator/pkg/controllers/target_controllers.go
  operator/pkg/resources/cmn/env.go
  operator/pkg/resources/cmn/scripts.go
  operator/pkg/resources/proxy/statefulset.go
  operator/pkg/resources/target/services.go
  operator/pkg/resources/target/statefulset.go
  operator/tests/integration/cluster_test.go
  operator/tests/tutils/utils.go
Due: none

operator: shutdown cluster through primary
  operator/pkg/client/api.go
  operator/pkg/controllers/cluster_controller.go
  operator/pkg/controllers/target_controllers.go
Due: none

helm: enable external load-balancer
  helm/ais/charts/templates/_set_initial_target_env.sh
  helm/ais/charts/templates/target-ss.yaml
  helm/ais/charts/templates/target-svc.yaml
  terraform/README.md
  terraform/deploy.sh
  terraform/scripts/utils.sh
Due: operator:gcp, helm:gcp

operator: skip internal deployment tests
  operator/pkg/controllers/target_controllers.go
  operator/tests/integration/cluster_test.go
  operator/tests/tutils/utils.go
Due: none

operator: handle scaledown in proxies
  operator/pkg/controllers/proxy_controller.go
  operator/pkg/resources/proxy/statefulset.go
Due: none

operator: setup webhooks for validation
  operator/Makefile
  operator/README.md
  operator/api/v1alpha1/aistore_webhook.go
  operator/api/v1alpha1/zz_generated.deepcopy.go
  operator/config/crd/kustomization.yaml
  operator/config/default/kustomization.yaml
  operator/config/default/manager_webhook_patch.yaml
  operator/config/default/webhookcainjection_patch.yaml
  operator/config/manifests/bases/ais-operator.clusterserviceversion.yaml
  operator/config/manifests/kustomization.yaml
  operator/config/webhook/kustomization.yaml
  operator/config/webhook/kustomizeconfig.yaml
  operator/config/webhook/manifests.yaml
  operator/config/webhook/service.yaml
  operator/main.go
  operator/scripts/deploy.sh
Due: operator:minikube-long, operator:gcp

operator: implement upgrade strategy
  operator/pkg/client/api.go
  operator/pkg/controllers/cluster_controller.go
  operator/pkg/controllers/proxy_controller.go
  operator/pkg/controllers/target_controllers.go
  operator/pkg/resources/proxy/services.go
  operator/pkg/resources/proxy/statefulset.go
Due: none

operator: update to v1beta1
  operator/PROJECT
  operator/README.md
  operator/api/v1beta1/aisconfig.go
  operator/api/v1beta1/aistore_types.go
  operator/api/v1beta1/aistore_webhook.go
  operator/api/v1beta1/groupversion_info.go
  operator/api/v1beta1/zz_generated.deepcopy.go
  operator/config/crd/bases/ais.nvidia.com_aistores.yaml
  operator/config/manager/controller_manager_config.yaml
  operator/config/manifests/bases/ais-operator.clusterserviceversion.yaml
  operator/config/samples/ais_v1beta1_aistore.yaml
  operator/config/samples/kustomization.yaml
  operator/config/webhook/manifests.yaml
  operator/main.go
  operator/pkg/client/api.go
  operator/pkg/controllers/cluster_controller.go
  operator/pkg/controllers/proxy_controller.go
  operator/pkg/controllers/target_controllers.go
  operator/pkg/resources/cmn/config.go
  operator/pkg/resources/cmn/configmap.go
  operator/pkg/resources/cmn/rbac.go
  operator/pkg/resources/cmn/res.go
  operator/pkg/resources/proxy/configmap.go
  operator/pkg/resources/proxy/services.go
  operator/pkg/resources/proxy/statefulset.go
  operator/pkg/resources/statsd/configmap.go
  operator/pkg/resources/target/configmap.go
  operator/pkg/resources/target/services.go
  operator/pkg/resources/target/statefulset.go
  operator/tests/integration/ais_test.go
  operator/tests/integration/cluster_test.go
  operator/tests/integration/suite_test.go
  operator/tests/tutils/ais_cluster.go
  operator/tests/tutils/ais_core.go
  operator/tests/tutils/api.go
Due: operator:minikube-long, operator:gcp

ci: add cilium stage
  .gitlab-ci.yml
  operator/tests/integration/ais_test.go
  terraform/Makefile
  terraform/scripts/ci-deploy-k8s.sh
Due: operator:gcp, helm:gcp

operator: add developer docs
  operator/README.md
Due: operator:minikube-long, operator:gcp

update docker image version
  docs/planning.md
  helm/ais/charts/values.yaml
  helm/ais/run_ais_sample.sh
  operator/config/samples/ais_v1beta1_aistore.yaml
  operator/tests/tutils/ais_cluster.go
  terraform/README.md
  terraform/deploy.sh
Due: operator:gcp, helm:gcp

operator: add node selector
  operator/pkg/resources/proxy/statefulset.go
  operator/pkg/resources/target/statefulset.go
Due: none

operator: add build tags; update version and misc
  operator/Dockerfile
  operator/Makefile
  operator/config/manager/kustomization.yaml
  operator/go.mod
  operator/go.sum
  operator/main.go
  operator/scripts/deploy.sh
Due: operator:minikube-long, operator:gcp

terraform: use `-chdir` option instead of passing directory as an argument
  terraform/aws/versions.tf
  terraform/azure/versions.tf
  terraform/deploy.sh
  terraform/destroy.sh
  terraform/gcp/versions.tf
  terraform/scripts/utils.sh
Due: operator:gcp, helm:gcp

operator: upgrade Go1.15 to Go1.16
  .gitlab-ci.yml
  operator/Dockerfile
  operator/Makefile
  operator/go.mod
  operator/go.sum
  terraform/scripts/ci-test-script.sh
Due: operator:minikube-long, operator:gcp

operator: allow pinning PVs to PVCs
  operator/api/v1beta1/aistore_types.go
  operator/api/v1beta1/zz_generated.deepcopy.go
  operator/config/crd/bases/ais.nvidia.com_aistores.yaml
  operator/pkg/resources/target/statefulset.go
Due: none

enable hostnetworking
  operator/api/v1beta1/aistore_types.go
  operator/api/v1beta1/zz_generated.deepcopy.go
  operator/config/crd/bases/ais.nvidia.com_aistores.yaml
  operator/pkg/resources/cmn/env.go
  operator/pkg/resources/cmn/res.go
  operator/pkg/resources/proxy/statefulset.go
  operator/pkg/resources/target/scripts.go
  operator/pkg/resources/target/statefulset.go
Due: none

change path used for config
  operator/config/samples/ais_v1beta1_aistore.yaml
  operator/pkg/resources/cmn/res.go
  operator/pkg/resources/proxy/statefulset.go
  operator/pkg/resources/target/statefulset.go
  operator/tests/tutils/ais_cluster.go
Due: none

create manifest bundle
  operator/Makefile
  operator/scripts/deploy.sh
Due: operator:minikube-long, operator:gcp

add support for backends
  operator/api/v1beta1/aisconfig.go
  operator/api/v1beta1/zz_generated.deepcopy.go
  operator/config/crd/bases/ais.nvidia.com_aistores.yaml
Due: none

Path conditions:
  operator:minikube-long: any of: operator/*
  operator:gcp: any of: operator/*, terraform/*
  helm:gcp: any of: terraform/*, helm/*
